@import "./styles/base.scss";
body {
  background-color: $background-blue;
  color: $text-gray;
  box-sizing: border-box;
  font-family: "Monteserrat", sans-serif;
  line-height: 1;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
}
#main {
  padding: 0 30px;
  height: 100%;
  overflow: auto;
  font-size: 1rem;
  color: $text-gray;
  background-image: url("./images/gallery.png");
}
.gallery #main {
  background-image: url("./images/gallery.png");
  background-size: cover;
}
.vote #main {
  background-image: url("./images/vote_small.png");
  background-size: 120%;
}

.content-container {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 150px;
}
