@import "./colors.scss";
@import "./fonts.scss";
h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
input[type="text"] {
  width: 300px;
  box-shadow: 1px 1px 4px $text-gray;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  font-size: 1.5rem;
  color: $text-gray;
  border: none;
}

input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 110px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $pink;
}
.error {
  background-color: $light-blue;
  font-size: 1.5rem;
  box-shadow: 4px 4px $pink;
  padding: 30px;
  max-width: 50%;
  margin: auto;
}
