@import "base.scss";
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-blue;
  max-width: 1440px;
  padding: 30px;
  margin: auto;
}

#logo {
  max-width: 200px;
}

ul {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex: 0 1 300px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $text-gray;
  padding-bottom: 8px;
  &.active {
    border-bottom: 5px solid #0073a3;
  }
}
li {
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
}
